.card
  .card-header
    .flex.justify-between
      = "User ##{current_user.uid}"
      #actions
        = link_to 'Back', :back, class: 'btn btn-sm btn-red'
  .card-body
    %p Name: #{current_user.name}
    %p Email: #{current_user.email}
    %p Gender: #{current_user.gender}
    %p Date of Birth: #{current_user.date_of_birth.strftime('%d %m %y')}
    %p Account Branch: #{@account&.branch}
    %p Account ID: #{@account&.uid}
    %p Minor: #{@account&.minor_indicator ? 'YES' : 'NO'}
    %p Account Opened At: #{DateTime.parse(@account.opened_at).strftime('%d %m %y')}

